<% if(theme.comments.enable && theme.comments.disqus.enable) { %>
  <div id="disqus_thread">
    <h2>
      <a href="#" class="comment" onclick="loadDisqus();return false;">View / Make Comments</a>
    </h2>
  </div>

  <script>
    var disqus_config = function() {
      this.page.url = '<%= config.url + '/' + page.canonical_path %>';
      this.page.identifier = '<%= page.id || page.canonical_path %>';
      this.page.title = '<%= page.title %>';
    };

    var is_disqus_loaded = false;

    function loadDisqus() {
      if (!is_disqus_loaded) {
        is_disqus_loaded = true;

        var d = document,
          s = d.createElement('script');
        s.src = 'https://<%= theme.comments.disqus.shortname %>.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      }
    }

  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<% } %>

<% if (theme.comments.enable && theme.comments.valine.enable) { %>
  <script src='//unpkg.com/valine/dist/Valine.min.js'></script>

  <div id="vcomments"></div>

  <script>
    new Valine({
      el: '#vcomments',
      appId: '<%- theme.comments.valine.appId %>',
      appKey: '<%- theme.comments.valine.appKey %>',
      placeholder: '<%- theme.comments.valine.placeholder %>',
      avatar: '<%- theme.comments.valine.avatar %>',
      lang: '<%= config.language %>'
    })
  </script>
<%
  if (!theme.comments.valine.vempty_display) { %>
    <style>
      .comments-container .v .vempty {
        display: none!important;
      }
    </style>
<%  }
  } %>

<% if (theme.comments.enable && theme.comments.gitalk.enable) { %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

  <div id="gitalk-container"></div>

  <script>
    const gitalk = new Gitalk({
      clientID: '<%- theme.comments.gitalk.clientID %>',
      clientSecret: '<%- theme.comments.gitalk.clientSecret %>',
      repo: '<%- theme.comments.gitalk.repo %>',
      owner: '<%- theme.comments.gitalk.owner %>',
      admin: ['<%- theme.comments.gitalk.admin %>'],
      id: location.pathname,
      distractionFreeMode: false
    })

    gitalk.render('gitalk-container')
  </script>
<% } %>
