<div class="header">
  <div class="container" style="text-align:right;">
    <div onclick=setDarkMode(true) id="darkBtn" style="font-size: 20px; cursor: pointer;">ðŸŒž On</div>
    <div onclick=setDarkMode(false) id="lightBtn" style="font-size: 20px; cursor: pointer; display: none;">ðŸŒ™ Off</div> <%# ðŸŒ%>
    <script >
    if (localStorage.getItem('preferredTheme') == 'dark') {
      setDarkMode(true)
    }
    function setDarkMode(isDark) {
      var darkBtn = document.getElementById('darkBtn')
      var lightBtn = document.getElementById('lightBtn')
      if (isDark) {
      lightBtn.style.display = "block"
      darkBtn.style.display = "none"
      localStorage.setItem('preferredTheme', 'dark');
      } else {
      lightBtn.style.display = "none"
      darkBtn.style.display = "block"
      localStorage.removeItem('preferredTheme');
      }
      document.body.classList.toggle("darkmode");
    }
    </script>
  </div>
  <div class="avatar">
    <a href="<%- theme.avatar.path %>">
      <!-- å¤´åƒå–æ¶ˆæ‡’åŠ è½½ï¼Œæ·»åŠ no-lazy -->
      <% if (config.lazyload && config.lazyload.enable) { %>
        <img no-lazy src="<%- theme.avatar.author_photo %>" alt="">
      <% } else { %>
        <img src="<%- theme.avatar.author_photo %>" alt="">
      <% } %>
    </a>
    <div class="nickname"><a href="<%- theme.avatar.path %>"><%- theme.avatar.author_nickname %></a></div>
  </div>
  <div class="navbar">
    <ul>
      <%
        for(let item of theme.navbar) {
          if (item.enable) {
      %>
        <li class="nav-item" data-path="<%- item.path %>">
          <a href="<%- item.path %>"><%- item.name %></a>
        </li>
      <%
          }
        }
      %>
    </ul>
  </div>
</div>

<%- js(['/js/activeNav.js']) %>
